[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif; }

#content {
  width: 100%;
  height: 100%;
  padding: 10px; }

#widget {
  width: 100%;
  height: 100%; }

#layout {
  position: absolute;
  top: 0;
  left: 20%;
  width: 60%;
  margin: 4% 0;
  height: 68%; }
  @media (max-width: 768px) {
    #layout {
      width: 80%;
      left: 10%; } }
  @media (max-width: 480px) {
    #layout {
      left: 0;
      width: 100%;
      height: 80%;
      margin: 0;
      padding-bottom: 30px; }
      #layout .btn {
        border-radius: 0;
        float: right; } }

#main {
  background: #eee;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5); }
  @media (max-width: 480px) {
    #main {
      border-radius: 0;
      box-shadow: none; } }

#description {
  margin-top: 50px; }
  @media (max-width: 480px) {
    #description {
      margin: 50px 20px 0; }
      #description h2 {
        font-size: 1.7em;
        font-weight: 900; }
      #description h3 {
        font-size: 1.3em;
        font-weight: 900; } }

#demopanel {
  width: 100%;
  height: 100%; }

#color {
  margin-bottom: 3px; }
  @media (max-width: 480px) {
    #color {
      margin-bottom: 0; }
      #color .btn, #color .btn-sm {
        padding: 2px 5px;
        font-size: 0.8em; } }

#title img {
  height: 16px;
  width: 16px; }

#sample-doc {
  width: 100%;
  height: 300px; }

#result {
  border: none;
  background: #eee;
  width: 100%;
  height: 400px; }

#footer {
  width: 100%;
  min-height: 100px; }

#forkme {
  position: absolute;
  top: -15px;
  left: -15px;
  z-index: 17; }
  #forkme img {
    border: 0; }

@media (max-width: 480px) {
  #forkme {
    display: none; } }
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

#zm-event {
  width: 100%;
  height: 100%;
  padding-bottom: 40px;
  font-family: "Open Sans", sans-serif; }

#zm-event .eventmap {
  width: 100%;
  height: 100%;
  z-index: 1; }
#zm-event .main-title {
  position: absolute;
  z-index: 14;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2px 8px;
  text-align: center; }
#zm-event .timeline {
  height: 100%;
  padding: 30px 0 70px 20px;
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
#zm-event .timeline-inner {
  position: relative;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.5); }
  #zm-event .timeline-inner .header {
    position: absolute;
    z-index: 6;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    #zm-event .timeline-inner .header .name {
      font-size: 1.1em;
      padding: 10px 10px 0;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    #zm-event .timeline-inner .header .magsum {
      font-size: 0.8em; }
  #zm-event .timeline-inner .background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%; }
  #zm-event .timeline-inner .line-wrap {
    position: absolute;
    z-index: 7;
    padding: 72px 0 40px 15px;
    height: 100%; }
  #zm-event .timeline-inner .line {
    border-radius: 5px;
    height: 100%;
    width: 4px; }
  #zm-event .timeline-inner .events {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 60px;
    overflow: hidden; }
  #zm-event .timeline-inner .events-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
    #zm-event .timeline-inner .events-inner.spd1 {
      -ms-transition: top 1.6s ease-in-out;
      -moz-transition: top 1.6s ease-in-out;
      -webkit-transition: top 1.6s ease-in-out;
      -o-transition: top 1.6s ease-in-out;
      transition: top 1.6s ease-in-out; }
    #zm-event .timeline-inner .events-inner.spd2 {
      -ms-transition: top 0.8s ease-in-out;
      -moz-transition: top 0.8s ease-in-out;
      -webkit-transition: top 0.8s ease-in-out;
      -o-transition: top 0.8s ease-in-out;
      transition: top 0.8s ease-in-out; }
    #zm-event .timeline-inner .events-inner.spd3 {
      -ms-transition: top 0.3s linear;
      -moz-transition: top 0.3s linear;
      -webkit-transition: top 0.3s linear;
      -o-transition: top 0.3s linear;
      transition: top 0.3s linear; }
  #zm-event .timeline-inner .event {
    position: absolute;
    top: 65px;
    width: 100%;
    z-index: 8;
    font-size: 12px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    #zm-event .timeline-inner .event .desc {
      position: absolute;
      letter-spacing: 1px;
      left: 0;
      width: 100%;
      padding: 0 10px 0 30px; }
      #zm-event .timeline-inner .event .desc .name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
  #zm-event .timeline-inner .circle {
    z-index: 9;
    position: absolute;
    top: 4px;
    left: 17px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-left: -4px;
    -ms-transition: box-shadow 0.1s linear, border 0.5s linear;
    -moz-transition: box-shadow 0.1s linear, border 0.5s linear;
    -webkit-transition: box-shadow 0.1s linear, border 0.5s linear;
    -o-transition: box-shadow 0.1s linear, border 0.5s linear;
    transition: box-shadow 0.1s linear, border 0.5s linear; }
    #zm-event .timeline-inner .circle.lg {
      width: 12px;
      height: 12px;
      margin-left: -6px;
      top: 1px; }
    #zm-event .timeline-inner .circle.xl {
      width: 16px;
      height: 16px;
      margin-left: -8px;
      top: 1px; }
  #zm-event .timeline-inner .event.top .circle {
    border: 1px solid #fff; }
#zm-event .ctrlpanel {
  position: absolute;
  z-index: 11;
  width: 200px;
  height: 30px;
  bottom: 70px;
  left: 20px;
  padding: 0 5px;
  margin-top: -10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  #zm-event .ctrlpanel i.glyphicon {
    margin: 3px 4px;
    padding: 4px;
    display: inline-block;
    cursor: pointer;
    opacity: 0.7;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    #zm-event .ctrlpanel i.glyphicon.active {
      opacity: 1;
      text-shadow: 0 0 3px yellow; }
  #zm-event .ctrlpanel .speed {
    vertical-align: top;
    font-family: arial;
    font-size: 12px;
    font-weight: 900;
    line-height: 18px; }
#zm-event .infopanel {
  z-index: 12;
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1.5px;
  line-height: 40px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  padding: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  #zm-event .infopanel .glyphicon {
    cursor: pointer; }
  #zm-event .infopanel .action {
    position: relative;
    z-index: 13; }
#zm-event .infopanel .title {
  position: absolute;
  left: 0;
  padding: 0 120px 0 75px;
  width: 100%;
  white-space: no-wrap; }
  #zm-event .infopanel .title .vc {
    display: inline-block;
    vertical-align: middle;
    height: 40px; }
  #zm-event .infopanel .title .ib {
    display: inline-block;
    white-space: pre-wrap;
    line-height: 19px; }
#zm-event .infopanel .date, #zm-event .infopanel .title, #zm-event .infopanel .magsum, #zm-event .infopanel .c-mag2, #zm-event .infopanel .c-mag1 {
  display: inline-block; }
#zm-event .infopanel .magsum {
  margin-right: 10px; }
#zm-event .infopanel .c-mag2, #zm-event .infopanel .c-mag1 {
  font-size: 0.8em;
  min-width: 60px;
  text-align: right; }
#zm-event .infopanel .magsum {
  display: inline-block;
  line-height: 16px;
  font-size: 12px;
  padding: 4px 0; }
  #zm-event .infopanel .magsum > div {
    display: block; }
  #zm-event .infopanel .magsum small {
    display: inline-block;
    -ms-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    width: 45px; }
#zm-event .bubble {
  width: 0;
  height: 0;
  border: 4px solid #fff;
  position: absolute;
  top: 0px;
  left: 0px;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 3;
  border-radius: 50%; }
  #zm-event .bubble.in {
    -ms-transition: width 1s ease-out, height 1s ease-out;
    -moz-transition: width 1s ease-out, height 1s ease-out;
    -webkit-transition: width 1s ease-out, height 1s ease-out;
    -o-transition: width 1s ease-out, height 1s ease-out;
    transition: width 1s ease-out, height 1s ease-out; }
  #zm-event .bubble.out {
    -ms-transition: width 1s ease-out, height 1s ease-out, opacity 2s ease-out;
    -moz-transition: width 1s ease-out, height 1s ease-out, opacity 2s ease-out;
    -webkit-transition: width 1s ease-out, height 1s ease-out, opacity 2s ease-out;
    -o-transition: width 1s ease-out, height 1s ease-out, opacity 2s ease-out;
    transition: width 1s ease-out, height 1s ease-out, opacity 2s ease-out; }
#zm-event .dimmer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 16;
  display: none;
  background: gray url(img/blurmap.jpg) center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  line-height: 100%;
  color: #123; }
  #zm-event .dimmer:before {
    content: " ";
    display: inline-block;
    height: 50%;
    width: 0; }

#zm-event.loading {
  padding-bottom: 0; }
  #zm-event.loading .timeline {
    display: none; }
  #zm-event.loading .infopanel {
    display: none; }
  #zm-event.loading .ctrlpanel {
    display: none; }
  #zm-event.loading .dimmer {
    display: block; }

#zm-event .home-popover {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  padding: 1px 7px;
  border-radius: 3px;
  z-index: 15;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }
  #zm-event .home-popover:after {
    content: " ";
    display: block;
    background: #fff;
    width: 7px;
    height: 7px;
    position: absolute;
    top: -4px;
    right: 10px;
    box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.3);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }

#zm-event.h-mc .ctrlpanel {
  border-radius: 5px;
  top: initial;
  bottom: 50px;
  width: 170px;
  left: 10px; }
#zm-event.h-mc .events {
  margin-top: 10px; }
#zm-event.h-mc .timeline-inner {
  box-shadow: none; }
  #zm-event.h-mc .timeline-inner .background {
    display: none; }
  #zm-event.h-mc .timeline-inner .header {
    display: none; }
  #zm-event.h-mc .timeline-inner .line-wrap {
    padding-top: 20px; }

#zm-event.h-xs .ctrlpanel {
  border-radius: 5px;
  top: initial;
  bottom: 50px;
  width: 170px;
  left: 10px; }
#zm-event.h-xs .events {
  margin-top: 10px; }
#zm-event.h-xs .timeline-inner {
  box-shadow: none; }
  #zm-event.h-xs .timeline-inner .background {
    display: none; }
  #zm-event.h-xs .timeline-inner .header {
    display: none; }
  #zm-event.h-xs .timeline-inner .line-wrap {
    padding-top: 20px; }

#zm-event.w-mc .home-popover {
  font-size: 12px; }
#zm-event.w-mc .main-title {
  font-size: 12px; }
#zm-event.w-mc .ctrlpanel {
  border-radius: 5px;
  top: initial;
  bottom: 50px;
  width: 170px;
  left: 10px; }
#zm-event.w-mc .infopanel .title {
  font-size: 0.8em; }
#zm-event.w-mc .infopanel .date {
  font-size: 12px; }
#zm-event.w-mc .events {
  margin-top: 10px; }
#zm-event.w-mc .line-wrap {
  padding-top: 20px;
  padding-bottom: 10px; }
#zm-event.w-mc .timeline {
  padding-bottom: 90px; }
#zm-event.w-mc .timeline-inner {
  box-shadow: none;
  width: 100px;
  overflow: visible; }
  #zm-event.w-mc .timeline-inner .background {
    display: none; }
  #zm-event.w-mc .timeline-inner .header {
    display: none; }
#zm-event.w-mc .events .event .desc .name {
  display: none; }
#zm-event.w-mc .events .event.top .name {
  display: inline-block;
  font-weight: 900; }

#zm-event.w-xs .home-popover {
  font-size: 12px; }
#zm-event.w-xs .main-title {
  font-size: 12px; }
#zm-event.w-xs .ctrlpanel {
  border-radius: 5px;
  top: initial;
  bottom: 50px;
  width: 170px;
  left: 10px; }
#zm-event.w-xs .infopanel .title {
  font-size: 0.8em; }
#zm-event.w-xs .infopanel .date {
  font-size: 12px; }
#zm-event.w-xs .events {
  margin-top: 10px; }
#zm-event.w-xs .line-wrap {
  padding-top: 20px;
  padding-bottom: 10px; }
#zm-event.w-xs .timeline {
  padding-bottom: 90px; }
#zm-event.w-xs .timeline-inner {
  box-shadow: none;
  width: 100px;
  overflow: visible; }
  #zm-event.w-xs .timeline-inner .background {
    display: none; }
  #zm-event.w-xs .timeline-inner .header {
    display: none; }
#zm-event.w-xs .events .event .desc .name {
  display: none; }
#zm-event.w-xs .events .event.top .name {
  display: inline-block;
  font-weight: 900; }

#zm-event.w-mc {
  padding-bottom: 70px; }
  #zm-event.w-mc .infopanel {
    margin-top: 30px; }
  #zm-event.w-mc .ctrlpanel {
    border-radius: 5px;
    top: initial;
    bottom: 50px;
    width: 170px;
    left: 10px;
    width: 100%;
    margin: 0;
    left: 0;
    bottom: 40px;
    top: initial;
    border-radius: 0; }
  #zm-event.w-mc .timeline {
    width: 40px;
    padding-left: 0;
    overflow: visible; }
    #zm-event.w-mc .timeline .events .desc {
      display: none; }

#zm-event.h-mc .timeline {
  display: none; }

#zm-event.default .bubble {
  background: rgba(255, 128, 64, 0.3);
  border: 4px solid red; }
#zm-event.default .main-title {
  color: #fff;
  background: rgba(0, 0, 0, 0.5); }
#zm-event.default .infopanel {
  background: #2d3240;
  color: #eee; }
#zm-event.default .ctrlpanel {
  background: #26252b;
  color: #fff; }
#zm-event.default .timeline .header {
  color: #fff;
  background: rgba(0, 0, 0, 0.7); }
#zm-event.default .timeline .background {
  opacity: 0.5;
  background: #3e5170;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNlNTE3MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #3e5170 0%, #000000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3e5170), color-stop(100%, #000000));
  background: -webkit-linear-gradient(top, #3e5170 0%, #000000 100%);
  background: -o-linear-gradient(top, #3e5170 0%, #000000 100%);
  background: -ms-linear-gradient(top, #3e5170 0%, #000000 100%);
  background: linear-gradient(to bottom, #3e5170 0%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e5170', endColorstr='#000000',GradientType=0 ); }
#zm-event.default .timeline .line {
  background: rgba(255, 255, 255, 0.28); }
#zm-event.default .timeline .event {
  color: #fff; }
#zm-event.default .timeline .circle {
  background: #fff; }
  #zm-event.default .timeline .circle.lg {
    background: #fff; }
  #zm-event.default .timeline .circle.xl {
    background: #f99; }
#zm-event.default .timeline .event.top .circle {
  box-shadow: 0 0 10px white;
  border: 1px solid #ff0; }

#zm-event.default.w-mc .timeline-inner {
  background: rgba(0, 0, 0, 0.5); }

#zm-event.default.w-xs .timeline-inner {
  background: rgba(0, 0, 0, 0.5); }

#zm-event.default.w-mc .timeline-inner {
  background: none; }

#zm-event.default.w-mc .ctrlpanel {
  background: #4B4F59; }

#zm-event.default.w-xs .ctrlpanel {
  background: #4B4F59; }

#zm-event.gray .bubble {
  background: rgba(255, 128, 64, 0.4);
  border: 3px solid red; }
#zm-event.gray .main-title {
  background: rgba(255, 255, 255, 0.3); }
#zm-event.gray .infopanel {
  background: rgba(255, 255, 255, 0.9);
  color: #444;
  text-shadow: none; }
  #zm-event.gray .infopanel .action a {
    color: #999; }
#zm-event.gray .ctrlpanel {
  background: rgba(255, 255, 255, 0.9);
  color: #444; }
#zm-event.gray .timeline .header {
  color: #222;
  background: rgba(255, 255, 255, 0.9); }
#zm-event.gray .timeline .background {
  opacity: 0.8;
  background: #fcfcfc;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYmRiZGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #fcfcfc 0%, #dbdbdb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #dbdbdb));
  background: -webkit-linear-gradient(top, #fcfcfc 0%, #dbdbdb 100%);
  background: -o-linear-gradient(top, #fcfcfc 0%, #dbdbdb 100%);
  background: -ms-linear-gradient(top, #fcfcfc 0%, #dbdbdb 100%);
  background: linear-gradient(to bottom, #fcfcfc 0%, #dbdbdb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#dbdbdb',GradientType=0 ); }
#zm-event.gray .timeline .line {
  background: rgba(255, 255, 255, 0.58); }
#zm-event.gray .timeline .event {
  color: #444; }
#zm-event.gray .timeline .circle {
  background: #fff; }
  #zm-event.gray .timeline .circle.lg {
    background: #fb5; }
  #zm-event.gray .timeline .circle.xl {
    background: #f55; }
#zm-event.gray .timeline .event.top .circle {
  box-shadow: 0 0 10px rgba(255, 255, 0, 0.5);
  border: 1px solid #ff0; }

#zm-event.gray.w-mc .timeline-inner {
  background: rgba(0, 0, 0, 0.4); }
#zm-event.gray.w-mc .event {
  color: #fff; }

#zm-event.gray.w-xs .timeline-inner {
  background: rgba(0, 0, 0, 0.4); }
#zm-event.gray.w-xs .event {
  color: #fff; }

#zm-event.gray.w-mc .timeline-inner {
  background: none; }

#zm-event.gray.w-mc .ctrlpanel {
  border-bottom: 1px solid #eee;
  background: #f9f9f9; }

#zm-event.gray.w-xs .ctrlpanel {
  border-bottom: 1px solid #eee;
  background: #f9f9f9; }

#zm-event.green .bubble {
  background: rgba(255, 192, 64, 0.3);
  border: 3px solid #ff5c00; }
#zm-event.green .main-title {
  background: rgba(255, 255, 255, 0.5); }
#zm-event.green .infopanel {
  background: #0ea688;
  color: #fff; }
  #zm-event.green .infopanel .action a {
    color: #ff9; }
#zm-event.green .ctrlpanel {
  background: rgba(14, 166, 136, 0.9);
  color: #fff; }
#zm-event.green .timeline .header {
  color: #fff;
  background: rgba(14, 166, 136, 0.7); }
#zm-event.green .timeline .background {
  opacity: 1;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICAgIDxzdG9wIG9mZnNldD0iMzAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuODUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.85) 30%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.9)), color-stop(30%, rgba(255, 255, 255, 0.85)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.85) 30%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.85) 30%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.85) 30%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.85) 30%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#00ffffff',GradientType=0 ); }
#zm-event.green .timeline .line {
  background: rgba(24, 188, 156, 0.8); }
#zm-event.green .timeline .event {
  color: #245b3a; }
#zm-event.green .timeline .circle {
  background: #1bd152; }
  #zm-event.green .timeline .circle.lg {
    background: #a1d81c; }
  #zm-event.green .timeline .circle.xl {
    background: #da951c; }
#zm-event.green .timeline .event.top .circle {
  box-shadow: 0 0 10px white;
  border: 1px solid #a2eab3; }

#zm-event.green.w-mc .timeline-inner {
  background: rgba(255, 255, 255, 0.8); }

#zm-event.green.w-xs .timeline-inner {
  background: rgba(255, 255, 255, 0.8); }

#zm-event.green.w-mc .timeline-inner {
  background: none; }
