doctype html
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var usecdn = false
- var useog = true
- var lib = { jquery: true, d3js: false, angular: true, bootstrap: true, semantic: false }
- var assets = "../assets"
- var thumbnail = "http://0media.tw/t/geoevent/img/thumbnail.png"
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Events Visualization
    // libraries
    include ../library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="../index.css")
    link(rel="icon",type="image/x-icon",href="../img/favicon.png")
    script(type="text/javascript",src="../index.js")
    script(src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places")
  body(style="overflow:hidden")
    #widget(ng-app="0media.events",ng-controller="0media.events.main")
      include ../widget.jade

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-54066900-1', 'auto');
      ga('send', 'pageview');
