doctype html
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var usecdn = false
- var useog = true
- var lib = { jquery: true, d3js: false, angular: true, bootstrap: true, semantic: false }
- var assets = "assets"
- var thumbnail = "http://0media.tw/t/geoevent/img/thumbnail.png"
- var demo = true
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Events Visualization
    // libraries
    include library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="index.css")
    link(rel="icon",type="image/x-icon",href="img/favicon.png")
    script(type="text/javascript",src="index.js")
    script(src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places")
  body
    #content(ng-app="main",ng-controller="main")
      #layout
        #demopanel(ng-app="0media.events",ng-controller="0media.events.main")
          #color.form-group
            span.pull-right
              .btn.btn-primary.btn-sm(ng-click="setStyle('default')") Default
              .btn.btn-default.btn-sm(ng-click="setStyle('gray')") Gray
              .btn.btn-success.btn-sm(ng-click="setStyle('green')") Green
            #title.btn-sm.pull-left: strong 
              img(src="img/favicon.png")
              |  Events Visualization 
            .clearfix
          #main
            include widget.jade

        #description
          hr
          .fb-like.pull-right(data-share="false",data-show-faces="false",data-layout="button_count")
          h2 Events Visualization
          p 
            | This tool helps you visualize events across time and space with bubbles of magnitude of events, and works on devices with different screen size. Above is an example of 
            a(href="http://0media.tw/t/geoevent/widget/?src=1yY4pqGqI3rLMf5bQqe5XMztnnJ78RMUrfh-XpJdhd_o&color=default&ratio=20&=undefined&clat=12.573404&clng=-15.193685&initz=2") visualization of Islamic terrorist attacks from 1983 to 2015
            | .
          hr
          h3 How to Use
          p prepare the event data in a google spreadsheet formatted like this:
          iframe#sample-doc(src="https://docs.google.com/spreadsheets/d/1yY4pqGqI3rLMf5bQqe5XMztnnJ78RMUrfh-XpJdhd_o/pubhtml?widget=true&amp;headers=false")
          br
          br
          p 
            | 7 columns are required in following order: date, event, shortname, death, wounded, latitude, longitude:
            ul
              li 
                em date
                | : Event date. YYYY/MM/DD or MM/DD/YYYY
              li 
                em event
                | : Event name. shown in timeline only if shortname is omitted
              li
                em shortname
                | : short name of event for showing in timeline
              li 
                em death
                | : number of death
              li 
                em wounded
                | : number of wounded
              li 
                em latitude  
                | and 
                em longitude
                | : coordinate of the event 
          p 
            | and publish the spreadsheet by clicking 
            em "Menu"  
            | &#xbb; 
            em "Publish to the Web" 
            | &#xbb;  
            em "Publish"
          p 
            | Copy &amp; paste the link of the spreadsheet in this input box:
          .form-group(ng-class="{'has-error':sid==null && datasrc}")
            input.form-control(
              placeholder="e.g., https://docs.google.com/spreadsheets/d/1p0DNKBt4oNfDBgHv4ZXH-vu0bJ_PtxFFXCL7o4O_Cxo/pubhtml",
              ng-model="datasrc")
          p and setup following configuration:
          .form-inline
            .form-group
              label colorschema
              br
              .btn-group
                .btn.btn-primary.btn-sm(ng-click="setStyle('default')",ng-class="{'active':style=='default'}") Default
                .btn.btn-default.btn-sm(ng-click="setStyle('gray')",ng-class="{'active':style=='gray'}") Gray
                .btn.btn-success.btn-sm(ng-click="setStyle('green')",ng-class="{'active':style=='green'}") Green
            .form-group
              label circle size
              br
              .btn-group
                .btn.btn-default.btn-sm(ng-click="setRatio(1)",ng-class="{'active':ratio==1}") Small
                .btn.btn-info.btn-sm(ng-click="setRatio(5)",ng-class="{'active':ratio==5}") Medium
                .btn.btn-primary.btn-sm(ng-click="setRatio(20)",ng-class="{'active':ratio==20}") Large
            .form-group
              label
                | central latlng &nbsp; 
                input(type="checkbox",checked,ng-model="autoll")
                small  auto
              br
              input.form-control.input-sm(style="max-width:90px",ng-model="clat",placeholder="latitude",ng-disabled="autoll")
              input.form-control.input-sm(style="max-width:90px",ng-model="clng",placeholder="longitude",ng-disabled="autoll")
            .form-group
              label initial zoom level
              br
              select.form-control.input-sm(ng-options="v for v in zlvs",ng-model="initz",style="min-width:120px",ng-disabled="autoll")
            .form-group
              label &nbsp;
              br
              .btn.btn-danger.btn-sm(ng-click="generate()") Generate
          br
          p result looks like this:
          iframe#result
          p html code for embedding in your websites:
          textarea.form-control(ng-model="embedcode",rows="5")
          br
          p 
            | direct link to the result page: ( 
            a(ng-attr-href="{{outurlwithhost}}",target="_blank") open in new tab
            |  )
          input.form-control(ng-model="outurlwithhost",ng-disabled="true")
          br
          hr
          br
          #footer
            | For source code, please visit 
            a(href="http://github.com/zbryikt/geoevent/") Github Repo
            |  of the events visualization project.

    a#forkme(href="https://github.com/zbryikt/geoevent")
      img(src="https://camo.githubusercontent.com/82b228a3648bf44fc1163ef44c62fcc60081495e/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67",alt="Fork me on GitHub",data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png")

    script.
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '415494205294101',
          xfbml      : true,
          version    : 'v2.2'
        });
      };
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-52410923-1', 'auto');
      ga('send', 'pageview');
